

<div class="login-wrapper" >
  
  <mat-card class="box">
    <span class="material-icons md-48">perm_identity</span>

    <mat-card-header>
      <mat-card-title>User Profile</mat-card-title>
    </mat-card-header> 

     <form  #userUpdate ="ngForm" (ngSubmit)="updateUsers(userUpdate.value)"  class="example-form" >

      <mat-card-content >
        

          <mat-form-field class="example-full-width" >
               <input  type = "text" name = "first_name"  matInput placeholder="First Name" [(ngModel)]="userList && userList[0].first_name" >
            </mat-form-field>

        <mat-form-field class="example-full-width">
          <input type = "text" name = "last_name"  matInput placeholder="Last Name" [(ngModel)]="userList && userList[0].last_name">
        </mat-form-field>

        <mat-form-field class="example-full-width" >
          <input  type = "text" name = "email"   matInput placeholder="Email" [(ngModel)]="userList && userList[0].email">
       </mat-form-field>

       <br><br><br>

      </mat-card-content>

      <button mat-stroked-button color="accent" class="btn-block">Update Profile</button>

    </form>
  </mat-card>
</div>