<div class= "background-ol">
<table id="customers">
    <thead>
        <tr>
            <th>User ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Profile Picture</th>
            <th >Options</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let user of userList?.[4]">
            <td> {{user?.id}} </td>
            <td> {{user?.first_name}} </td>
            <td> {{user?.email}} </td>
            <td> {{user?.last_name}} </td>
            <td> {{user?.avatar}} </td>
            <td>
              <!-- <button mat-stroked-button color="accent" class="btn-block" >Edit</button>  -->
              <a href="users/update/{{user.id}}" >
                <mat-icon aria-hidden="false" aria-label="create icon" >create</mat-icon>
                Edit</a>

              <a (click)="deleteOneUser(user.id)">
                <mat-icon aria-hidden="false" aria-label="create icon" >delete</mat-icon>  
                Delete</a>
        </td>
        </tr>
    </tbody>
</table>
</div>

