table {
    width: 100%;
    margin-top: 5%;
  }

  #customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 2px solid rgb(3, 80, 105);
    padding: 8px;
  }
  
  #customers {background-color:whitesmoke;}
  
  #customers tr:hover {background-color: whitesmoke;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color:rgb(3, 80, 105);
    color: whitesmoke;
  }  

  a:link, a:visited, a {
    background-color: rgb(3, 80, 105);
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: 20px;

    
  }

  
  a:hover, a:active {
    background-color:rgb(18, 221, 204);
  }
  /* .background-ol{
    background-image: url('/src/assets/Images/old.jpg');
    background-color: aqua;
    height: 200px;
    width: 1000px;
  }
   */